//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@kibologic:registry=https://npm.pkg.github.com
@swissjs:registry=https://npm.pkg.github.com
@sws:registry=https://npm.pkg.github.com
@swiss-package:registry=https://npm.pkg.github.com
@skltn:registry=https://npm.pkg.github.com
@alpine:registry=https://npm.pkg.github.com
